.HeadInner{
    max-width: 800px;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 400;
    
}
.header-top{
    background-color: #002E53;
}
.HeadInner a{
    font-weight: bold;
}
.header-bottom{
    background-color: #B8D9DE;
   
}
.navLi{
    color: #002E53;
}
.HeadfontIcon{
    
    font-weight: 400;
    padding: 0px 10px;
}

.offcanvas-backdrop {
    position: fixed;
    top: 2px;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
.offcanvas.offcanvas-end {
    top: 0;
    right: 0;
    width: 500px;
    transform: translateX(100%);
}
.offcanvas-backdrop.show {
    opacity: .5;
}
.accordion-item:first-of-type > .accordion-header .accordion-button {
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    
}
.accordion-header button{
    color: #002E53;
    font-size: 22px;
    font-weight: bold;
    
}



.accordion-button:not(.collapsed) {
    
    background-color: white !important;
    box-shadow: none !important;
}
.accordion-button:focus {
    z-index: 3;
    outline: 0;
    /* box-shadow: var(--bs-accordion-btn-focus-box-shadow); */
}
.accordion-body{
    padding: 0px 20px;
}
.accordion-body ul{
    list-style: none;
    padding: 0px !important;
    color: black;
    font-size: 18px;
}

/* loginPhotoDiv */
.loginPhotoDiv{
    width: 40px;
    border-radius: 50%;
    position: relative;
   
}
.loginPhotoDiv img{
    border-radius: 50%;
    width: 100%;
}
.clickDiv{
    position: absolute;
    top: 130%;
    left: 0%;
    background-color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 30px;
    display: none;
}
.showclickDiv{
    position: absolute;
    top: 130%;
    left: 0%;
    background-color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 30px;
    display: block !important;
}